.slider(id="header")
    
    each carouselItem in carouselItems
        .slider_item
            img(src= carouselItem.link)

            .slider_item-content

                h1.white= carouselItem.title

                    span.mark-color= carouselItem.titleActive

                h2= carouselItem.content

                .buttons.buttonFont

                    a.button-dark(href="#")= carouselItem.buttonNameLeft

                    a.button-dark(href="#")= carouselItem.buttonNameRight


    .prev &#10094;
    .next &#10095;





